.item_title {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  padding-bottom: 120px;
}

.item {
  width: 100%;
  max-width: 520px;
  cursor: pointer;
  position: relative;
  padding: 28px 30px 28px 30px;
  border-radius: 5px;
  border-top: 2px solid #ededed;
}

.item:last-child {
  border-bottom: 2px solid #ededed;
}

.item svg {
  position: absolute;
  top: 28px;
  right: 30px;
}

.items_holder {
  width: 100%;
}

.item_description {
  padding-top: 32px;
}

.content_holder {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  align-items: center;
}

.image_holder {
  width: 100%;
  max-width: 355px;
}

.image_holder img {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .content_holder {
    flex-direction: column-reverse;
  }
  .image_holder {
    max-width: 306px;
    margin-bottom: 32px;
  }
}
