.mobile_menu_wrapper {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mobile_menu_holder {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 20px 25px;
  align-items: center;
}

.mobile_menu_holder svg {
  outline: none;
}

.logo_holder {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 73px;
}

.menu_items_holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding-bottom: 60px;
}

.menu_item {
  width: 100%;
  text-align: center;
  width: 100%;
  padding: 24px 32px 24px 32px;
}

.menu_item a {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  border-bottom: 2px solid #ededed;
  padding-bottom: 32px;
  display: block;
}

.menu_items_holder .menu_item:nth-child(5) a{
  border-bottom: none!important;
}

.button {
  background: #646464;
  color: #ffffff;
  padding: 24px 32px 24px 32px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  max-width: 200px;
}

.button a {
  border-bottom: none;
  padding-bottom: 0;
}
